@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    </head>
<body>
    <div style="margin-left:50%">
        @Html.ActionLink("Clients", "Index", "Client")
    </div>
</body>
</html>
