@model Task5.WEB.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(@*"Login", "Home", FormMethod.Get*@))
{
<table class="table">
    <tr>
        <th>
            Email:
        </th>
        <th>
            @Html.EditorFor(model => model.Email)
        </th>
    </tr>
    <tr>
        <th>
            Password:
        </th>
        <th>
            @Html.EditorFor(model => model.Password)
        </th>
        <th>
            <input type="submit" value="Login" />
        </th>
        <th>
            <p>or</p>
        </th>
        <th>
            <input type="button" value="Register" onclick="location.href='@Url.Action("Register", "Home")'" />
        </th>
    </tr>
</table>
}

