@model Task5.WEB.Models.ProductEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @*@Html.HiddenFor(m => m.Id)*@
    <table class="table">
        <tr>
            <th>
                Product name:
            </th>
            <th>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autocomplete = "off", maxlength = 30 } })
            </th>
        </tr>
        <tr>
            <th>
                @Html.ActionLink("Back", "Index", "Home", new { @class = "btn btn-secondary" })
            </th>
            <th>
                <input type="submit" value="Edit" class="btn btn-secondary" />
            </th>
        </tr>
    </table>
}

