@model IEnumerable<Task5.WEB.Models.ProductViewModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Filter by product name: @Html.TextBox("searchString", null, new { autocomplete = "off", maxlength = 30 })
        <input type="submit" value="Search" class = "btn btn-secondary"/>
    </p>
}

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (this.User.IsInRole("admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary" })
                    </td>
                }
                else
                {
                    <th>

                    </th>
                    <th>

                    </th>
                }
            </tr>
        }

    </table>
