<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Task 5 - Pershukevich</p>
        </footer>
    </div>
</body>
</html>
